@RenderPage("~/Views/Shared/leftMenu.cshtml")
<div id="content-wrapper" ng-controller="SpiderNewsIndexCtrl">
    <div class="container-fluid">
        <div class="row">
            <div>
                <ol class="breadcrumb">
                    <li><a href="/Admin/index">首页</a></li>
                    <li class="active">新闻列表</li>
                    <a href="" ng-click="IHelp()" style="float:right"><i class="icon_question_alt2"></i> 帮助</a>
                </ol>
                <table class="table ListTable helpStep1">
                    <tbody>
                        <tr>
                            <td width="140px">
                                <div class="btn-group">
                                    <a href="" ng-init="ckAll=false" ng-click="ckAll=!ckAll" class="btn btn-success">全选 / 反选</a>
                                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="javascript:void(0)" ng-click="IReleaseByIDs()"><i class="icon_trash_alt"></i> 发布选中</a></li>
                                        <li><a href="javascript:void(0)" ng-click="IDeleteByIDs()"><i class="icon_trash_alt"></i> 删除选中</a></li>
                                    </ul>
                                </div>
                            </td>
                            <td width="150px">
                                <select class="form-control filterSelect" ng-model="Filter.TypeID" ng-change="IData_Get()">
                                    <option value="0">查看全部</option>
                                    <option ng-repeat="d in Spiders" value="{{d.ID}}">
                                        {{d.Name}}
                                    </option>
                                </select>
                            </td>

                            <td>
                                <div class="input-group">
                                    <a ng-if="Filter.Title!=null" ng-click="Filter.Title=null" class="clearBtn animated bounceIn" data-icon="Q"></a>
                                    <input type="text" ng-keypress="OnEnterPress($event);" class="form-control" placeholder="输入新闻标题..." ng-model="Filter.Title" />
                                </div>
                            </td>

                            <td>
                                <div class="input-group" style="display:none;">
                                    <div class="input-group-addon">时间</div>
                                    <input type="date" class="form-control" ng-model="Filter.StartTime" />
                                    <div class="input-group-addon">至</div>
                                    <input type="date" class="form-control" ng-model="Filter.EndTime" />
                                </div>
                            </td>
                            <td width="130px">
                                <filter-btn></filter-btn>
                            </td>
                            <td width="90px">
                                <table-pager-top></table-pager-top>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <loading></loading>
                <div class="row" ng-repeat="r in RowRange" ng-if="loading==false&&Pager.Data.length>0">
                    <div class="col-md-3 animated fadeInRight bd" ng-repeat="d in [0,1,2,3]" ng-if="Pager.Data[(r*4)+d]!=null">
                        <div class="thumbnail">
                            <img ng-src="{{Pager.Data[(r*4)+d].DefaultImage}}" />
                            <div class="caption">
                                <h6><input type="checkbox" value="{{Pager.Data[(r*4)+d].ID}}" class="EntityItem" ng-checked="ckAll==true" /> {{Pager.Data[(r*4)+d].Title}}</h6>
                                <p>
                                    <a href="#" class="btn btn-primary" role="button">发布</a>&nbsp;
                                    <a href="javascript:void(0)" ng-click="ConfirmDelete(Pager.Data[(r*4)+d].ID)" class="tip btn btn-default" title="删除">删除</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <table-pager class="helpStep3"></table-pager>
                <dialog-delete></dialog-delete>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    angular.module("app").controller("SpiderNewsIndexCtrl", function ($location, $scope, API_SpiderNews) {
        $scope.TableHeads = [
            { Title: "编号", Name: "ID" },
            { Title: "标题", Name: "Title" },
            { Title: "浏览次数", Name: "LookCount" },
            { Title: "创建时间", Name: "CreateDate" }
        ];
        $scope.Spiders = @MvcHtmlString.Create(ViewBag.Spiders);
        $scope.IHelp=function()
        {
            var intro = introJs();
            intro.setOptions({
                nextLabel: '下一步 <i class="arrow_carrot-right"></i>',
                prevLabel: ' <i class="arrow_carrot-left"></i> 上一步',
                skipLabel: '关闭',
                doneLabel: '关闭',
                showProgress:false,
                overlayOpacity: 0.4,
                steps: [
                  {
                      element: '.helpStep1',
                      intro: "<p>1，您可以新增、批量隐藏、显示新闻。</p><p>2，选择新闻分类、输入标题筛选新闻。</p><p>3，查询、打印、导出、翻页新闻列表。</p>"
                  },
                  {
                      element: '.helpStep2',
                      intro: "<p>1，点击表格头部可以正/反排序。</p><p>2，可以设置每一篇新闻显示、隐藏、修改、删除。</p>",
                      position: 'left'
                  },
                  {
                      element: '.helpStep3',
                      intro: '<p>1，点击可以进行分页。</p><p>2，查看数据总条数、总页数。</p>',
                      position: 'top'
                  }
                ]
            });
            intro.start();
        };
        $scope.Pager = { PageIndex: 0, PageSize: 20 };
        $scope.Filter = { IsDesc: true, OrderBy: "ID" };
        $scope.IData_Get = function () {
            NProgress.start();
            $scope.loading = true;
            API_SpiderNews.Get($scope.Pager.PageIndex,
                $scope.Pager.PageSize,
                $scope.Filter.Title,
                $scope.Filter.StartTime,
                $scope.Filter.EndTime,
                $scope.Filter.OrderBy,
                $scope.Filter.IsDesc,
                $scope.Filter.TypeID).then(function (r) {
                    $scope.loading = false;
                    NProgress.done();
                    $scope.Pager = r;
                    $scope.RowRange = APP.Range($scope.Pager.Data.length / 4);
                    $scope.Pager.PageRange = APP.Range(r.PageCount);
                    setTimeout(function () { $(".tip").tooltip(); }, 500);
                });
        }
        $scope.ConfirmDelete = function (id) {
            $scope.DeleteID = id;
            $("#DeleteConfirmModal").modal("show");
        }
        $scope.IDelete = function () {
            $("#DeleteConfirmModal").modal("hide");
            API_SpiderNews.Delete($scope.DeleteID).then(function () {  toastr.info('删除成功！'); $scope.IData_Get();});
        }
        $scope.OnEnterPress = function (evt) {
            if (evt.keyCode == 13) {
                $scope.IData_Get();
            }
        }
        $scope.IReleaseByIDs=function()
        {
            var cks = $(".EntityItem:checked");
            var cksIDs = new Array();
            $(cks).each(function (a, b) { cksIDs.push($(b).val()); });

            if(cksIDs.length<1)
            {  toastr.error('未选择任何新闻。'); return;}

            $scope.loading = true;
            API_SpiderNews.ReleaseByIDs(cksIDs.join(",")).then(function ()
            {
                $scope.loading = false;
                toastr.info('发布成功！');
                $scope.IData_Get();
            });
        }
        $scope.IShowByIDs=function()
        {
            var cks = $(".EntityItem:checked");
            var cksIDs = new Array();
            $(cks).each(function (a, b) { cksIDs.push($(b).val()); });
            if(cksIDs.length<1)
            {  toastr.error('未选择任何新闻。'); return;}
            $scope.loading = true;
            API_SpiderNews.ShowByIDs(cksIDs.join(",")).then(function ()
            {
                $scope.loading = false;
                toastr.info('设置成功！');
                $scope.IData_Get();
            });
        }
    });
</script>