@using System.Web.Http
@using yycms.admin.Areas.HelpPage.ModelDescriptions
@model ModelDescription

@RenderPage("~/Views/Shared/leftMenu.cshtml")
<div id="content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <ol class="breadcrumb">
                <li><a href="/Admin/index">首页</a></li>
                <li><a href="/Help/index">接口列表</a></li>
                <li class="active">接口详情</li>
                <a href="" ng-click="IHelp()" style="float:right"><i class="icon_question_alt2"></i> 帮助</a>
            </ol>
            <div class="bs-callout bs-callout-success">
                <h4>@Model.Name</h4>
                <p>@Model.Documentation</p>
            </div>

            <section class="content-wrapper main-content clear-fix">
                @Html.DisplayFor(m => Model)
            </section>
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-12 BtmLayer" id="BtmLayer">
                        <a href="/Help" class="btn btn-success btn-lg hvr-shadow-radial">
                            <i class="arrow_carrot-left"></i> 返回列表
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>