@RenderPage("~/Views/Shared/leftMenu.cshtml")
<div id="content-wrapper" ng-controller="PhotoAddCtrl">
    <ol class="breadcrumb">
        <li><a href="/Admin">首页</a></li>
        <li><a href="/Photo">相册列表</a></li>
        <li class="active">发布相册</li>
        <a href="" ng-click="IHelp()" style="float:right"><i class="icon_question_alt2"></i> 帮助</a>
    </ol>
    <br />
    <form name="myForm" ng-submit="SubmitForm(myForm.$valid)" class="form-horizontal" role="form" novalidate>

        <ul class="nav nav-tabs" ng-init="TabIndex=0">
            <li role="presentation" ng-class="{active:TabIndex==0}"><a href="javascript:void(0)" ng-click="TabIndex=0">基础信息</a></li>
            <li role="presentation" ng-class="{active:TabIndex==1}"><a href="javascript:void(0)" ng-click="TabIndex=1">相册图集</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane" ng-class="{active:TabIndex==0}">
                <div class="col-md-6 animated fadeInRight">
                    <div class="form-group has-feedback"
                         ng-class="{'has-success':myForm.Title.$valid,'has-error':myForm.Title.$invalid&&myForm.Title.$dirty}">
                        <label class="col-sm-2 control-label">相册名称</label>
                        <div class="col-sm-10">
                            <input type="text"
                                   name="Title"
                                   id="Title"
                                   ng-model="Entity.Title"
                                   ng-pattern="/^.{4,200}$/"
                                   required class="form-control" />
                            <span class="help-block">相册名称，由4至200字组成。</span>
                            <span ng-if="myForm.Title.$valid&&!myForm.Title.$pristine" class="glyphicon glyphicon-ok form-control-feedback"></span>
                            <span ng-if="myForm.Title.$invalid&&!myForm.Title.$pristine" class="glyphicon glyphicon-remove form-control-feedback"></span>
                        </div>
                    </div>

                    <div class="form-group has-feedback"
                         ng-class="{'has-success':myForm.KeyWords.$valid,'has-error':myForm.KeyWords.$invalid&&myForm.KeyWords.$dirty}">
                        <label class="col-sm-2 control-label">关键字</label>
                        <div class="col-sm-10">
                            <input type="text"
                                   name="KeyWords"
                                   id="KeyWords"
                                   ng-model="Entity.KeyWords"
                                   ng-pattern="/^.{2,200}$/"
                                   required class="form-control" />
                            <span class="help-block">关键字，多个关键字用逗号分隔，2至200个字。</span>
                            <span ng-if="myForm.KeyWords.$valid&&!myForm.KeyWords.$pristine" class="glyphicon glyphicon-ok form-control-feedback"></span>
                            <span ng-if="myForm.KeyWords.$invalid&&!myForm.KeyWords.$pristine" class="glyphicon glyphicon-remove form-control-feedback"></span>
                        </div>
                    </div>

                    <div class="form-group has-feedback"
                         ng-class="{'has-success':myForm.Summary.$valid,'has-error':myForm.Summary.$invalid&&myForm.Summary.$dirty}">
                        <label class="col-sm-2 control-label">相册摘要</label>
                        <div class="col-sm-10">
                            <textarea id="Summary"
                                      rows="3"
                                      name="Summary"
                                      ng-model="Entity.Summary"
                                      ng-pattern="/^.{10,500}$/"
                                      required
                                      class="form-control"></textarea>
                            <span class="help-block">相册中摘取最主要的信息，10至500个字。</span>
                            <span ng-if="myForm.Summary.$valid&&!myForm.Summary.$pristine" class="glyphicon glyphicon-ok form-control-feedback"></span>
                            <span ng-if="myForm.Summary.$invalid&&!myForm.Summary.$pristine" class="glyphicon glyphicon-remove form-control-feedback"></span>
                        </div>
                    </div>

                    <div class="form-group has-feedback"
                         ng-class="{'has-success':myForm.Recommend.$valid,'has-error':myForm.Recommend.$invalid&&myForm.Recommend.$dirty}">
                        <label class="col-sm-2 control-label">是否推荐</label>
                        <div class="col-sm-10">
                            <div class="btn-group btn-group-sm" role="group">
                                <a class="btn btn-default"
                                   ng-repeat="d in Recommend"
                                   ng-class="{active:Entity.Recommend==d.ID}"
                                   ng-click="Entity.Recommend=d.ID">
                                    {{d.Name}}
                                </a>
                                <input type="hidden"
                                       name="Recommend"
                                       ng-pattern="/^[0-9]{1,12}$/"
                                       ng-model="Entity.Recommend"
                                       required="" />
                            </div>
                            <span class="help-block">设置当前相册是否推荐到首页。</span>
                        </div>
                    </div>

                    <div class="form-group has-feedback"
                         ng-class="{'has-success':myForm.CanReply.$valid,'has-error':myForm.CanReply.$invalid&&myForm.CanReply.$dirty}">
                        <label class="col-sm-2 control-label">可否评论</label>
                        <div class="col-sm-10">
                            <div class="btn-group btn-group-sm" role="group">
                                <a class="btn btn-default"
                                   ng-repeat="d in CanReply"
                                   ng-class="{active:Entity.CanReply==d.ID}"
                                   ng-click="Entity.CanReply=d.ID">
                                    {{d.Name}}
                                </a>
                                <input type="hidden"
                                       name="CanReply"
                                       ng-pattern="/^[0-9]{1,12}$/"
                                       ng-model="Entity.CanReply"
                                       required="" />
                            </div>
                            <span class="help-block">设置当前相册是否允许用户评论。</span>
                        </div>
                    </div>

                    <div class="form-group has-feedback"
                         ng-class="{'has-success':myForm.IsShow.$valid,'has-error':myForm.IsShow.$invalid&&myForm.IsShow.$dirty}">
                        <label class="col-sm-2 control-label">是否显示</label>
                        <div class="col-sm-10">
                            <div class="btn-group btn-group-sm" role="group">
                                <a class="btn btn-default"
                                   ng-repeat="d in IsShow"
                                   ng-class="{active:Entity.IsShow==d.ID}"
                                   ng-click="Entity.IsShow=d.ID">
                                    {{d.Name}}
                                </a>
                                <input type="hidden"
                                       name="IsShow"
                                       ng-pattern="/^[0-9]{1,12}$/"
                                       ng-model="Entity.IsShow"
                                       required="" />
                            </div>
                            <span class="help-block">隐藏后的相册将不会在网站显示。</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">同步平台</label>
                        <div class="col-sm-10" ng-init="TargetPlatforms=[]">
                            <label class="checkbox-inline" ng-repeat="d in Platforms">
                                <input type="checkbox" value="d.ID" ng-model="TargetPlatforms[$index]" ng-true-value="{{d.ID}}"> {{d.Name}}
                            </label>
                            <span class="help-block">将相册自动对接到勾选的平台中。</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 animated fadeInLeft">
                    <div class="form-group">
                        <label for="Permission" class="col-sm-2 control-label">所属分类</label>
                        <div class="col-sm-10">
                            <span class="help-block">&nbsp;当前相册的对应的相册分类。</span>
                            <ul id="PermissionTree" class="ztree" style="margin-top: 0; width: 180px;"></ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" ng-class="{active:TabIndex==1}">

                <div class="alert alert-warning alert-dismissible" role="alert">
                    相册至少包含一张图片，图片排序填写0为默认，标题和描述非必填项。
                    <a id="UploadButton" href="" class="btn btn-default"><i class="fa fa-file-image-o"></i> &nbsp;点击上传相册图片</a>
                </div>

                <div id="ImportDataForm" class="col-md-12" ng-show="Photo_List.length>0" style="margin-top:0px;">
                    <div id="filelist"></div>
                    <div id="console"></div>
                </div>

                <div class="row">
                    <div class="photoItem col-md-4 animated slideInUp" ng-repeat="d in Photo_List">
                        <div class="bd">
                            <span class="btn btn-warning" ng-click="RemovePhotoItem(d)"><i class="fa fa-remove"></i> 删除</span>
                            <img ng-src="{{d.ImgUrl}}" />
                            <div class="form-group">
                                <div class="input-group col-md-offset-1 col-sm-10">
                                    <div class="input-group-addon">标题</div>
                                    <input type="text"
                                           name="Title"
                                           ng-model="Photo_List[$index].Title"
                                           ng-pattern="/^.{2,200}$/"
                                           class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group col-md-offset-1 col-sm-10">
                                    <div class="input-group-addon">描述</div>
                                    <input type="text"
                                           name="Summary"
                                           ng-model="Photo_List[$index].Summary"
                                           ng-pattern="/^.{2,200}$/"
                                           class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group col-md-offset-1 col-sm-10">
                                    <div class="input-group-addon">排序</div>
                                    <input type="text"
                                           name="ShowIndex"
                                           ng-model="Photo_List[$index].ShowIndex"
                                           ng-pattern="/^[0-9]{1,}$/"
                                           class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <submit-btn></submit-btn>
    </form>
</div>
<link href="/Scripts/ZTree/zTreeStyle.css" rel="stylesheet" />
<script src="/Scripts/ZTree/jquery.ztree.all-3.5.min.js"></script>
<script src="/Scripts/plupload/plupload.full.min.js"></script>
<script type="text/javascript">
    var ZTreeObject = null;
    function ZTree_Init(nodes)
    {
        var nodeArr = new Array();
        for (var i = 0; i < nodes.length; i++)
        {
            nodeArr.push({ id: nodes[i].ID, pId: nodes[i].PID, name: nodes[i].Name, open: false, nocheck: false });
        }
        ZTreeObject = $.fn.zTree.init($("#PermissionTree"),
            {
                view: {selectedMulti: true },
                edit: { enable: false, editNameSelectAll: true },
                data: { simpleData: { enable: true } },
                check: { enable: true, chkboxType: { "Y": "ps", "N": "ps" } }
            }, nodeArr);

        ZTreeObject.expandAll(true);
    }
    angular.module("app").controller("PhotoAddCtrl", function ($location, $scope, API_Photo)
    {
        $scope.Entity = {};
        $scope.CanReply = [{ ID: 0, Name: '允许' }, { ID: 1, Name: '禁止' }];
        $scope.IsShow = [{ ID: 1, Name: '正常' }, { ID: 0, Name: '隐藏' }];
        $scope.Recommend = [{ ID: 1, Name: '是' }, { ID: 0, Name: '否' }];
        $scope.Roles = [{ ID: 1, Name: "自动", Desc: "自动同步。" }, { ID: 2, Name: "手动", Desc: "手动确认发布。" }, { ID: 3, Name: "人工", Desc: "人工编辑发布" }];
        $scope.Platforms = APP.Platforms;
        $scope.OnSubmit = false;
        $scope.SubmitForm = function (isValid)
        {
            if (!isValid) { toastr.error('验证失败'); return; }
            if ($scope.Photo_List==null||$scope.Photo_List.length < 1) { toastr.error('请上传相册图片。'); return; }

            $scope.OnSubmit = true;

            var pmsIDs = new Array();
            var ckdNodes = ZTreeObject.getCheckedNodes(true);
            for (var i = 0; i < ckdNodes.length; i++) {
                pmsIDs.push(ckdNodes[i].id);
            }
            if (pmsIDs.length > 0) { $scope.Entity.TypeIDs = pmsIDs.join(","); }
            else { $scope.Entity.TypeIDs = ""; }

            var plts = new Array();
            for (var i = 0; i < $scope.TargetPlatforms.length; i++)
            {
                var pltID = parseInt($scope.TargetPlatforms[i]);
                if (isNaN(pltID)) { continue; }
                plts.push(pltID);
            }

            $scope.Entity.UserID = APP.User.ID;
            if (plts.length > 0) {
                $scope.Entity.TargetPlatforms = "," + plts.join(",") + ",";
            }
            else {
                $scope.Entity.TargetPlatforms = "";
            }
            $scope.Entity.CreateDate = new Date();

            API_Photo.Put($scope.Entity, $scope.Photo_List).then(function (r)
            {
                $scope.OnSubmit = false;
                if(r.code==0)
                {
                    toastr.success('更新成功！');
                    window.document.location.href="../Index";
                }
                else
                {
                    toastr.error(r.Msg);
                }
            });
        };

        var InitUpload = function () {
            var uploader = new plupload.Uploader({
                runtimes: 'html5,flash,silverlight,html4',
                browse_button: 'UploadButton',
                multi_selection: true,
                container: document.getElementById('ImportDataForm'),
                url: '/api/Common/Upload',
                flash_swf_url: '/scripts/plupload/Moxie.swf',
                silverlight_xap_url: '/scripts/plupload/Moxie.xap',
                filters: {
                    max_file_size: '10mb',
                    mime_types: [
                         { title: "Image files", extensions: "jpg,gif,png" },
                    ]
                },
                init: {
                    PostInit: function () {
                        $('#filelist').html('');
                    },
                    FilesAdded: function (up, files) {
                        plupload.each(files, function (file) {
                            $('#filelist').append('<div id="' + file.id + '" class="alert alert-info"><button data-val="' + file.id + '" type="button" class="close">×</button>' + file.name + ' (' + plupload.formatSize(file.size) + ')<div class="progress"><div class="progress-bar progress-bar-success progress-bar-striped" style="width:0%;"></div></div></div>');
                        });
                        uploader.start();
                    },
                    UploadProgress: function (up, file) {
                        $("#" + file.id + " .progress-bar").css("width", file.percent + "%").html(file.percent + "%");
                        if (file.percent >= 100) {
                            $("#" + file.id + " .progress-bar").html('正在上传图片，请稍等...');
                        }
                    },
                    Error: function (up, err) {
                        $('#console').html('<div class="alert alert-danger"><button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>错误代码：' + err.code + '，错误信息：' + err.message + '</div');
                    },
                    UploadComplete: function (up, files) {
                        toastr.info('上传图片成功！');
                        uploader.files.splice(0, uploader.files.length);
                        $("#filelist").empty();
                    },
                    FileUploaded: function (up, files, res) {
                        if ($scope.Photo_List == null) { $scope.Photo_List = new Array(); }
                        $scope.Photo_List.push(
                            {
                                ID:$scope.Photo_List.length+1,
                                ImgUrl: res.response.substr(1, res.response.length - 2),
                                Title: "",
                                Summary: "",
                                ShowIndex:0,
                            });
                        $scope.$apply();
                    }
                }
            });

            uploader.init();
        }

        $scope.RemovePhotoItem = function (_d)
        {
            var newArr = new Array();
            for (var i = 0; i < $scope.Photo_List.length; i++)
            {
                if (_d.ID == $scope.Photo_List[i].ID) { continue; }
                newArr.push($scope.Photo_List[i]);
            }
            $scope.Photo_List = newArr;
        }

        $(function(){
            $(".demoTip").popover({ placement: "top", trigger: "hover" });
            InitUpload();
        });

        $scope.IHelp = function () {
            var intro = introJs();
            intro.setOptions({
                nextLabel: '下一步 <i class="arrow_carrot-right"></i>',
                prevLabel: ' <i class="arrow_carrot-left"></i> 上一步',
                skipLabel: '关闭',
                doneLabel: '关闭',
                showProgress: false,
                overlayOpacity: 0.4,
                steps: [
                  {
                      intro: "<p>1，相册是抓取相册源的定时任务。</p><p>2，相册不会影响网站性能，由后台服务运行。</p><p>3，相册会自动给自己打分，评估好坏。</p>"
                  },
                  {
                      intro: "<p>1，相册抓取后相册源将同步到的平台。</p><p>2，您可是设置抓取后直接自动同步，也可以手动点击同步按钮，或是单个编辑后同步到平台。</p>"
                  },
                  {
                      intro: '<p>最规则时需要查看XPath，用Chrome浏览器打开一个网页，F12，在弹出的小窗口中选中一个标签，右键，看到“copy XPath”了吧！</p>'
                  }
                ]
            });
            intro.start();
        };

        API_Photo.Detail(@Html.ViewContext.RouteData.Values["id"]).then(function (r)
        {
            $scope.Entity = r.Photo;
            $scope.Photo_List = r.Items;
            ZTree_Init(@MvcHtmlString.Create(ViewBag.Types));
            var ckdIds = r.Photo.TypeIDs.split(",");
            if (ckdIds.length > 0) {
                for (var i = 0; i < ckdIds.length; i++)
                {
                    var node = ZTreeObject.getNodeByParam("id", ckdIds[i], null);
                    if (node == null) { continue; }
                    ZTreeObject.checkNode(node);
                }
            }
            var ckdIds2 = r.Photo.TargetPlatforms.split(",");
            if (ckdIds2.length > 0) {
                for (var q = 0; q < APP.Platforms.length; q++)
                {
                    for (var i = 0; i < ckdIds2.length; i++)
                    {
                        var pltid = parseInt(ckdIds2[i]);
                        if (isNaN(pltid)) { continue; }
                        if (APP.Platforms[q].ID == pltid)
                        {
                            $scope.TargetPlatforms[q] = pltid;
                        }
                    }
                }
            }

        });
    });
</script>